@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
  /* Fonts */
  --main-font: 'Raleway', sans-serif;

  /* Weights */
  --thin: 200;
  --medium: 400;
  --bold: 700;

  /* Colors */
  /* --logo: #64c410; */

  --logo: rgb(190, 27, 27);
  --white: #eee;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  color: var(--white);
}

li {
  list-style: none;
}

#movies-screen_container {
  font-family: var(--main-font);

  font-size: 1rem;
  padding: 1rem 0.1rem;
  min-height: 100vh;

  /*   background: linear-gradient(
    129deg,
    rgba(167, 80, 208, 1) 3%,
    rgba(142, 97, 230, 1) 30%,
    rgba(105, 76, 243, 1) 63%
  ); */

  background: #111;

  overflow-x: hidden;
}

/* 
################
## HOMESCREEN ##
################
*/

.movies-results_container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: 90%;
  margin: 3rem auto 2rem;
  padding: 5rem 0;
}
.buttons_container {
  position: absolute;
  top: -1rem;
}
.disabled {
  opacity: 0.2;
}
.btn {
  padding: 1rem 0.5rem;
  font-size: 2rem;
  background: var(--logo);
  color: #ccc;
  border: none;
  border-radius: 4px;
  margin: 0 1rem;
  cursor: pointer;
}

/* 
######################
## FAVORITES MOVIES ##
######################
*/
.favorite-movies_title {
  text-align: center;
  font-size: 2rem;
}
