.movie-info-screen_container {
  position: relative;
  max-width: 80%;
  margin-inline: auto;
  margin-top: 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description_container {
  width: 60%;
  max-width: 600px;
  margin: 0 1.4rem;
}

.nav_comeback {
  position: absolute;
  border: 3px solid var(--logo);
  padding: 0.5rem;
  display: inline-block;
  left: -2rem;
  border-radius: 43px;
}

.movie_original-title {
  margin: 0 0 1rem 0;
}
.description {
  margin: 1rem 0;
}
.description_container {
  margin: 1rem;
}
.puntuation {
  margin: 1rem 0;
  font-weight: var(--bold);
}
.release_day {
  margin: 1rem 0;
  font-weight: var(--bold);
}

.video_container {
  height: 15rem;
}

.btn-trailer {
  padding: 0.7em 1.2rem;

  border: none;
  border-radius: 4px;
  border: 1px solid #ccc;

  background-color: black;
  color: aliceblue;

  cursor: pointer;

  display: flex;
  align-items: center;
}
.youtube_icon_trailer {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: red;
}

.trailer-iframe_container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 1px solid red;
  height: 30vmin;

  transition: 1s;
}

.trailer_iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
